@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300&display=swap');

/* ... rest of your SCSS code ... */


/*-- scss:defaults --*/

/* From https://github.com/andrewheiss/ath-quarto/blob/main/html/ath.scss */

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue:    #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #170C3A !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #EE6A24 !default;
$burnt-orange: #E06632 !default;
$light-orange:  #FB9E07 !default;
$yellow:  #F6D645 !default;
$green:   #118230 !default;
$teal:    #068194 !default;
$cyan:    #3093CF !default;

$primary:   $gray-900!default;
$secondary: $gray-700 !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $orange !default;
$danger:    $red !default;
$light:     $gray-400 !default;
$dark:      $black !default;



// Links
$link-color: $burnt-orange !default;
$link-decoration: none !default;
$link-hover-color: $green !default;
$link-hover-decoration: underline !default;

// Footer
$footer-bg: $gray-500 !default;
$footer-fg: $gray-300 !default;

// Inline code
$code-bg: $gray-200 !default;
$code-color: $gray-900 !default;

// TOC
$toc-color: $burnt-orange;
$toc-font-size: 1em;

// Code copy
$btn-code-copy-color-active: $burnt-orange !default;

/*-- typography --*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: $gray-900;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;  /* Making h2 bold for emphasis */
    font-size: 1.5em;  /* Adjust size as needed, larger than h3 and h4 */
    color: #000000;    /* Black color */
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;  /* Also bold but smaller than h2 */
    font-size: 1.25em;  /* Adjust size as needed, smaller than h2 but larger than h4 */
    color: #000000;    /* Black color */
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;  /* Regular weight, making it less emphasized than h2 and h3 */
    font-size: 1.125em;  /* Adjust size as needed, smaller than h2 and h3 */
    color: #000000;    /* Black color */
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;  /* This corresponds to the weight you imported */
}

/*-- scss:rules --*/

.navbar {
    font-family: 'Roboto', sans-serif;
}

.nav-footer {
    color: $gray-900; 
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3em;
    //font-family: $footer-font-family;

    a {
        color: $primary;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4em;
    }

    // In the default Quarto template, .nav-footer-center has position: absolute 
    // turned on, which makes the div not be a flex item
    // This changes that so that it *is* a flex item
    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: map-get($grid-breakpoints, md)) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}